<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chon_John</title>
    <link rel="stylesheet" href="./custom.css">
</head>

<body>
    <div class="banner">
        <div class="about-sign-in">
            <a href="/about" class="about">About us</a>
            <a href="/sign_inout" class="sign-in">Sign in</a>
        </div>
        <div class="text">
            <span>Follow your passion and you wll see the light</span>
        </div>
        <div class="logo"></div>
        <div class="btn-start-now">
            <a href="/buying"><button>Buy now</button></a>
        </div>
        <div class="content-center">
            <div class="top">
                <a href="https://www.facebook.com/profile.php?id=100025931371462&locale=vi_VN" target="_blank"><img
                        src="./image/Facebook.png"></a>
            </div>

            <div class="mid">
                <a href="https://www.instagram.com/_chonjohn_/" target="_blank"><img src="./image/Instagram.png"></a>
            </div>

            <div class="under">
                <a href="https://mail.google.com/mail/u/0/?tab=rm&ogbl#inbox" target="_blank"><img
                        src="./image/Gmail.png"></a>
            </div>
        </div>
    </div>

</body>

</html>